* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  min-height: 2500px;
}

.wrapper main {
  width: 100%;
  min-height: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.wrapper main .box {
  width: 290px;
  height: 120px;
  border: 1px solid white;
}

.wrapper main .box h1 {
  color: white;
  font-size: 70px;
  font-family: "UnifrakturCook", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.wrapper main .box h2 {
  color: white;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper section {
  width: 100%;
  min-height: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper section .block__1,
.wrapper section .block__2,
.wrapper section .block__3,
.wrapper section .block__4,
.wrapper section .block__5 {
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.wrapper section .block__1 {
  background-image: url(../img/green.jpg);
  margin-top: 50px;
}

.wrapper section .block__2 {
  background-image: url(../img/night.jpg);
  margin-top: 10px;
}

.wrapper section .block__3 {
  background-image: url(../img/purple.jpg);
  margin-top: 10px;
}

.wrapper section .block__4 {
  background-image: url(../img/sea.jpg);
  margin-top: 10px;
}

.wrapper section .block__5 {
  background-image: url(../img/tree.jpg);
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrapper footer {
  width: 100%;
  justify-content: center;
  display: flex;
}

.wrapper footer .footer__cont {
  width: 100%;
  background-color: #cfcbcb;
}

.wrapper footer .footer__cont form {
  width: 95%;
  margin-left: 30px;
}

@media (max-width: 720px) {
  .wrapper footer .footer__cont form {
    max-width: 90%;
  }
}

.wrapper footer .footer__cont form h3 {
  font-size: 35px;
  text-align: center;
  padding-top: 40px;
}

.wrapper footer .footer__cont form p {
  font-size: 18px;
  margin-top: 50px;
}

.wrapper footer .footer__cont form input {
  width: 100%;
  height: 30px;
}

.wrapper footer .footer__cont form button {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  color: white;
  background-color: #242323;
  font-size: 18px;
  padding: auto;
}

.wrapper .container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

@media (max-width: 720px) {
  .wrapper .container {
    max-width: 98%;
  }
}

.nav {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 100px;
  background-color: #cfcbcb;
  border-radius: 5px;
}

@media (max-width: 720px) {
  .nav {
    position: absolute;
    display: block;
    bottom: 0px;
  }
}

.nav a {
  color: black;
  font-size: 25px;
  text-align: center;
  padding: 6px 3px 3px 3px;
}
