//Font size
$xsmall: 8px;
$small: 18px;
$normal: 25px;
$medium: 35px;
$large: 60px;
$xlarge: 70px;

//Media
$sm: 400px;
$md: 720px;
$xl: 920px;
$xxl: 2000px;

//Color
$white: white;
$lightgrey: rgb(207, 203, 203);
$grey: rgb(36, 35, 35);

//Font family
$font: 'UnifrakturCook', cursive;